
@media only screen and (max-width: 496px) {
	h2,h3,h4,h5{
		font-size: 15px;
	}
	.about-img h3, .about-img h4,.about-text h2.h3{
		font-size: 15px;
	}
	.about-text p,.lead,p{
		font-size: 12px;
	}

	.portfolio-img{
		height: 80%%;
		width: 80%;
		margin:0 auto;
	}
	.portfolio-overlay{
		width: 100%;
		height: 100%;
	}
	
	.expertise p:before{
		/*margin-top: -45px;*/
	}
	.contact.pt-5{
		padding-top: 0px !important;
	}
	.contact-left-side{
		margin:0px auto;
		display: block;
		text-align: center;
	}
	.services-icon {
			left: 44%;
		}
	.btn-success,.bg-light{
		font-size: 12px;
		margin: 0px auto;
		display:block;
	}
	.mt-5{
		margin-top:60px;
		}
	.pt-5{
		padding-top: 60px;
	}
}

/*Small devices (landscape phones, less than 768px)*/
@media only screen and (max-width: 767.98px) {
		.h1,.h2,.h3,.h4,.h5,h1,h2,h3,h4,h5{
			font-size: 18px;
		}
		.about-text p,.lead,p{
			font-size: 15px;
		}
		.expertise p{
			font-size: 12px;
		}

		.btn-success{
			margin: 0px auto;
			display:block;
		}
		.contact-left-side{
			margin:0px auto;
			display: block;
			text-align: center;
		}
	.portfolio-img{
		height: 80%%;
		width: 80%;
		margin:0 auto;

	}
	.portfolio-overlay{
		width: 100%;
		height: 100%;
	}
	.space-lg h2{
		font-size: 20px;
	}
}

/*Medium devices (tablets, less than 992px)*/
@media only screen and (max-width: 991.98px) { 

		.btn-success:hover{
			background: #22313f;
		}
		.services .pb-4, .py-4 {
			padding-bottom: 2.5rem !important;
		}

		.card-body{
		    height:350px !important;
		}
		.services-icon {
			top:-9%;
		}

}


/*Small devices (landscape phones, less than 768px)*/
/*@media (max-width: 767.98px) {  }*/

 /*Medium devices (tablets, less than 992px)*/
/*@media (max-width: 991.98px) {  }*/

/*Large devices (desktops, less than 1200px)*/
/*@media (max-width: 1199.98px) {}*/

